Q1. List any five functions of the pandas library with execution.

In [23]:
#1. read_excel
import pandas as pd
pd.read_excel('Book1.xlsx')

,SN,Date_Of_Start,Task,Complete_Task_Date,Status
0,1,2022-11-01,"SQL(DDL cmd),pk,fk,alter,Installation of Oracl...",2022-11-02,complete
1,2,2022-11-02,"SQL(DDM cmd)-insert,update,delete,update",2022-11-03,complete
2,3,2022-11-03,"SQL(Table_JOINS)(inner,outer,natural),create u...",2022-11-03,complete
3,4,2022-11-03,"meeting(harish sir POST Senction,)",2022-11-03,complete
4,5,2022-11-03,"SQL(Single_Row_Function)upper,lower,Date_Function",2022-11-03,complete
5,6,2022-11-03,"credit senscation,IRR,Auto_Loan,Home_Loan",2022-11-04,complete
6,7,2022-11-04,"meeting(harish sir POST Senction,home loan,el...",NaT,complete
7,8,2022-11-04,"Business loan ,types of business loan,letter o...",2022-11-09,complete
8,9,2022-11-05,"meeting harish sir (Disbusment,Resheduling,)",NaT,NaN
9,10,2022-11-06,meeting (lms to los),NaT,process
10,11,2022-11-07,"meeting (vipul sir table, db,sql,advance)",2022-11-11,process
11,12,2022-11-09,"meeting yogesh sir(mvt,networking,firewall,clu...",2022-11-12,NaN
12,13,2022-11-11,"collection,dpd,",NaT,NaN
13,14,2022-11-14,"tcl,vpn,",NaT,process
14,15,NaT,NaN,NaT,NaN
15,16,NaT,NaN,NaT,NaN
16,17,NaT,NaN,NaT,NaN
17,18,NaT,NaN,NaT,NaN
18,19,NaT,NaN,NaT,NaN

In [ ]:
#2. pandas.head
import pandas as pd
Dataframe=pd.read_excel('Book1.xlsx')
Dataframe.head()

In [ ]:
#3. pandas.tail
import pandas as pd
Dataframe=pd.read_excel('Book1.xlsx')
Dataframe.tail()

In [ ]:
#4.pd.DataFrame
import pandas as pd
df = pd.DataFrame({'Weight': [45, 88, 56, 15, 71],
                   'Name': ['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age': [14, 25, 55, 8, 21]})
df.columns

In [ ]:
#5.Data_frame.index
import pandas as pd
df = pd.DataFrame({'Weight': [45, 88, 56, 15, 71],
                   'Name': ['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age': [14, 25, 55, 8, 21]})
df.index

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [3]:
import pandas as pd
df = pd.DataFrame({'A': [45, 88, 56, 15, 71],
                   'B': ['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'C': [14, 25, 55, 8, 21]})
new_ind=[]
for i in range(len(df)):
    new_ind.append((i*2)+1)
df.index =new_ind

df

    A       B   C
1  45     Sam  14
3  88  Andrea  25
5  56    Alex  55
7  15   Robin   8
9  71     Kia  21

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [2]:
import pandas as pd

def sum_value(df):
    data = df['Values'].head(3)
    print(data.sum()) 
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)    
sum_value(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [60]:
import pandas as pd
df=Dataframe=pd.read_excel('report.xlsx')
df['Word_Count'] =df['Description'].apply(lambda x:len(x))
df

,S. No.,Support unit,IBU Name,Issue Reference number(Issue No.),Customer Name,Description,Log date (MM/DD/YYYY HH:MI),Incident Target Date,Incident Resolution Date,Incident SLA,...,CCB Level,NSSP Release No.,Root cause,Corrective action,Contact Details,Actual TAT,Measuring Unit,Last Action Remarks,Additional Fields,Word_Count
0,1,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202306260001(1),Vasant Jayaramn Govindaswami/MFL17,Simulation steps : Stage and screen :- . Appli...,06/26/2023 10:46,2023-06-26 11:46:11,NaN,NaN,...,APHL000000109965,NaN,Application task is corrupted thats why it is ...,vasant.govindaswami@poonawallahousing.com,0,Hour,Simulation steps : Stage and screen :- . Appli...,Production,PHFL,179
1,2,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202306260002(1),Vasant Jayaramn Govindaswami/MFL17,Simulation steps : user tried re-run deviation...,06/26/2023 10:52,2023-06-26 11:52:20,NaN,NaN,...,APHL000000111115,NaN,Application is rejected by user hence marking ...,vasant.govindaswami@poonawallahousing.com,0,Hour,Simulation steps : user tried re-run deviation...,Production,PHFL,241
2,3,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202306260003(1),Finnonesupport/MFL6,"Dear Team, System not allowing for back dated ...",06/26/2023 11:10,2023-06-26 12:10:54,1.0,54.0,...,NaN,As checked user cannot perform backdated resch...,As checked user cannot perform backdated resch...,pfl_finnonesupport@poonawallafincorp.com,54,Hour,"Dear Team, System not allowing for back dated ...",Production,PFL,106
3,4,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202306260004(1),PFL implementation Team/MFL16,Kindly provide the list of all the templates a...,06/26/2023 11:20,2023-06-26 12:20:02,1.0,207.0,...,NaN,Provided the list of all the templates along w...,Provided the list of all the templates along w...,finnoneimplementation@poonawallafincorp.com,207,Hour,Kindly provide the list of all the templates a...,UAT,PFL,197
4,5,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202306260005(1),Vasant Jayaramn Govindaswami/MFL17,Application //LAN no :- APHL000000104892 Actua...,06/26/2023 11:33,2023-06-26 12:33:33,NaN,NaN,...,APHL000000104892,NaN,This is resolved internally by PHFL team PFA m...,vasant.govindaswami@poonawallahousing.com,0,Hour,Application //LAN no :- APHL000000104892 Actua...,Production,PHFL,151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,337,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202307250004(1),Ujwala Gijare/MFL21,User need to implement writeoff functionality ...,07/25/2023 09:59,2023-07-25 10:59:40,NaN,NaN,...,NaN,NaN,NaN,ujwala.gijare@poonawallahousing.com,0,Hour,User need to implement writeoff functionality ...,Production,PHFL,112
337,338,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202307250005(1),PFL implementation Team/MFL16,"Dear Anand, As discussed, We are getting unkno...",07/25/2023 11:18,2023-07-25 12:18:36,NaN,NaN,...,NaN,NaN,NaN,finnoneimplementation@poonawallafincorp.com,0,Hour,"Dear Anand, As discussed, We are getting unkno...",UAT,PFL,194
338,339,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202307250006(1),Finnonesupport/MFL6,"Dear Team, Kindly check LMS down getting ""504 ...",07/25/2023 11:18,2023-07-25 12:18:38,NaN,NaN,...,NaN,NaN,NaN,pfl_finnonesupport@poonawallafincorp.com,0,Hour,"Dear Team, Kindly check LMS down getting ""504 ...",Production,PHFL,64
339,340,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202307250007(1),PFL implementation Team/MFL16,"View Name: API_GATEWAY.""DYM_CRM_SOURCINGh we ...",07/25/2023 11:22,2023-07-25 12:22:41,NaN,NaN,...,NaN,NaN,NaN,finnoneimplementation@poonawallafincorp.com,0,Hour,"View Name: API_GATEWAY.""DYM_CRM_SOURCINGh we ...",Production,PFL,502
340,341,PD-SAT-MFL-IN-FNEO-2107-F,CCE,202307250008(1),SHAURYA SINGH/16213,Collection BOD process is getting failed in PF...,07/25/2023 11:37,2023-07-25 12:37:31,NaN,NaN,...,NaN,NaN,NaN,SHAURYA.SINGH@NUCLEUSSOFTWARE.COM,0,Hour,Collection BOD process is getting failed in PF...,UAT,PFL,55

Q5.How are DataFrame.size() and DataFrame.shape() different?

#DataFrame.size()
Return an Int representing the number of elements in this object.

# DataFrame.shape()
Return a representing the dimensionality of the DataFrame.

Q6.Which function of pandas do we use to read an excel file?

#read_excel()

we are using read_excel() funcation for reading Excel file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [61]:
import pandas as pd
df=Dataframe=pd.read_excel('report.xlsx')
df['Corrective action']
df['Username'] = df['Corrective action'].apply(lambda x : x.split('@')[0]) 
df

,S. No.,Support unit,IBU Name,Issue Reference number(Issue No.),Customer Name,Description,Log date (MM/DD/YYYY HH:MI),Incident Target Date,Incident Resolution Date,Incident SLA,...,CCB Level,NSSP Release No.,Root cause,Corrective action,Contact Details,Actual TAT,Measuring Unit,Last Action Remarks,Additional Fields,Username
0,1,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202306260001(1),Vasant Jayaramn Govindaswami/MFL17,Simulation steps : Stage and screen :- . Appli...,06/26/2023 10:46,2023-06-26 11:46:11,NaN,NaN,...,APHL000000109965,NaN,Application task is corrupted thats why it is ...,vasant.govindaswami@poonawallahousing.com,0,Hour,Simulation steps : Stage and screen :- . Appli...,Production,PHFL,vasant.govindaswami
1,2,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202306260002(1),Vasant Jayaramn Govindaswami/MFL17,Simulation steps : user tried re-run deviation...,06/26/2023 10:52,2023-06-26 11:52:20,NaN,NaN,...,APHL000000111115,NaN,Application is rejected by user hence marking ...,vasant.govindaswami@poonawallahousing.com,0,Hour,Simulation steps : user tried re-run deviation...,Production,PHFL,vasant.govindaswami
2,3,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202306260003(1),Finnonesupport/MFL6,"Dear Team, System not allowing for back dated ...",06/26/2023 11:10,2023-06-26 12:10:54,1.0,54.0,...,NaN,As checked user cannot perform backdated resch...,As checked user cannot perform backdated resch...,pfl_finnonesupport@poonawallafincorp.com,54,Hour,"Dear Team, System not allowing for back dated ...",Production,PFL,pfl_finnonesupport
3,4,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202306260004(1),PFL implementation Team/MFL16,Kindly provide the list of all the templates a...,06/26/2023 11:20,2023-06-26 12:20:02,1.0,207.0,...,NaN,Provided the list of all the templates along w...,Provided the list of all the templates along w...,finnoneimplementation@poonawallafincorp.com,207,Hour,Kindly provide the list of all the templates a...,UAT,PFL,finnoneimplementation
4,5,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202306260005(1),Vasant Jayaramn Govindaswami/MFL17,Application //LAN no :- APHL000000104892 Actua...,06/26/2023 11:33,2023-06-26 12:33:33,NaN,NaN,...,APHL000000104892,NaN,This is resolved internally by PHFL team PFA m...,vasant.govindaswami@poonawallahousing.com,0,Hour,Application //LAN no :- APHL000000104892 Actua...,Production,PHFL,vasant.govindaswami
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,337,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202307250004(1),Ujwala Gijare/MFL21,User need to implement writeoff functionality ...,07/25/2023 09:59,2023-07-25 10:59:40,NaN,NaN,...,NaN,NaN,NaN,ujwala.gijare@poonawallahousing.com,0,Hour,User need to implement writeoff functionality ...,Production,PHFL,ujwala.gijare
337,338,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202307250005(1),PFL implementation Team/MFL16,"Dear Anand, As discussed, We are getting unkno...",07/25/2023 11:18,2023-07-25 12:18:36,NaN,NaN,...,NaN,NaN,NaN,finnoneimplementation@poonawallafincorp.com,0,Hour,"Dear Anand, As discussed, We are getting unkno...",UAT,PFL,finnoneimplementation
338,339,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202307250006(1),Finnonesupport/MFL6,"Dear Team, Kindly check LMS down getting ""504 ...",07/25/2023 11:18,2023-07-25 12:18:38,NaN,NaN,...,NaN,NaN,NaN,pfl_finnonesupport@poonawallafincorp.com,0,Hour,"Dear Team, Kindly check LMS down getting ""504 ...",Production,PHFL,pfl_finnonesupport
339,340,PD-SAT-MFL-IN-FNEO-2107-F,NaN,202307250007(1),PFL implementation Team/MFL16,"View Name: API_GATEWAY.""DYM_CRM_SOURCINGh we ...",07/25/2023 11:22,2023-07-25 12:22:41,NaN,NaN,...,NaN,NaN,NaN,finnoneimplementation@poonawallafincorp.com,0,Hour,"View Name: API_GATEWAY.""DYM_CRM_SOURCINGh we ...",Production,PFL,finnoneimplementation
340,341,PD-SAT-MFL-IN-FNEO-2107-F,CCE,202307250008(1),SHAURYA SINGH/16213,Collection BOD process is getting failed in PF...,07/25/2023 11:37,2023-07-25 12:37:31,NaN,NaN,...,NaN,NaN,NaN,SHAURYA.SINGH@NUCLEUSSOFTWARE.COM,0,Hour,Collection BOD process is getting failed in PF...,UAT,PFL,SHAURYA.SINGH

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values: A B C 0 3 5 1 1 8 2 7 2 6 9 4 3 2 3 5 4 9 1 2

Assignment

Data Science Masters

Your function should select the following rows: A B C 1 8 2 7 4 9 1 2 The function should return a new DataFrame that contains only the selected rows.

In [62]:
import pandas as pd

df = pd.DataFrame({'A': [3, 1, 7, 3, 9],
                   'B': [5, 8, 2, 2, 1],
                   'C': [1, 2, 4, 3, 4]})
df[(df['A'] > 5) & (df['B'] < 10)]

   A  B  C
2  7  2  4
4  9  1  4

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [69]:
import pandas as pd
df=Dataframe=pd.read_excel('export.xlsx')
df.describe()

       DISBURSAL_AMT
count   3.114000e+03
mean    8.168239e+05
std     7.590213e+05
min     0.000000e+00
25%     2.637840e+05
50%     6.000000e+05
75%     1.085000e+06
max     7.400000e+06

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [81]:
import pandas as pd

df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=10),
                   'Sales': [100, 120, 90, 110, 130, 140, 150, 120, 110, 100]})

df['MovingAverage']=df['Sales'].rolling(window=7, min_periods=1).mean()
df

        Date  Sales  MovingAverage
0 2023-01-01    100     100.000000
1 2023-01-02    120     110.000000
2 2023-01-03     90     103.333333
3 2023-01-04    110     105.000000
4 2023-01-05    130     110.000000
5 2023-01-06    140     115.000000
6 2023-01-07    150     120.000000
7 2023-01-08    120     122.857143
8 2023-01-09    110     121.428571
9 2023-01-10    100     122.857143

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. For example, if df contains the following values: Date 0 2023-01-01 1 2023-01-02 2 2023-01-03 3 2023-01-04 4 2023-01-05 Your function should create the following DataFrame:

Date Weekday 0 2023-01-01 Sunday 1 2023-01-02 Monday 2 2023-01-03 Tuesday 3 2023-01-04 Wednesday 4 2023-01-05 Thursday The function should return the modified DataFrame.

Note: Create your assignment in Jupyter notebook and upload it in GitHub & share that github repository link through your dashboard. Make sure the repository is public. Assignment

Data Science Masters

In [63]:


import pandas as pd
df=pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})
df['Weekday'] = pd.to_datetime(df['Date']).dt.strftime('%A')
df

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday


Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [64]:

import pandas as pd
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', end='2023-01-31', freq='D')})
df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:

The first and foremost necessary library that needs to be imported to use the basic functions of Pandas is the pandas library itself. It's conventionally imported with the alias pd.